<mat-form-field [formGroup]="form">
  <mat-label class="label">{{ config.label }}</mat-label>
  <textarea
    matInput
    class="{{ config.cssClass }}"
    style="width: 100%"
    [placeholder]="'' + config.placeholder"
    #control
    cdkTextareaAutosize
    cdkAutosizeMinRows="3"
    [value]="config.value"
    [formControlName]="config.name"
  ></textarea>
  @if (form.get(config.name)?.errors; as errors) {
  <mat-error>
    <lib-errors [data]="{ errors: errors, validators: config.validators }"></lib-errors>
  </mat-error>
  }
</mat-form-field>
