<nav>
  <ul class="flex space-x-2">
    @for (menu of _menus; track menu) {
      <li>
        <a
          class="rounded px-4 py-3 bg-blue-400 "
          routerLinkActive="bg-blue-600"
        [routerLink]="menu.path">{{menu.name}}</a>
      </li>
    }
  </ul>
</nav>
