.horizontal,
.vertical {
  padding: 1px 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 5px;
}

.horizontal {
  display: inline-block;
}

.vertical {
  display: table;
}

.selected {
  border-color: rgba(0, 0, 0, .5);
}
