<nav mat-tab-nav-bar color="primary" [tabPanel]="tabPanel">
    @for (tabItem of tabs; track $index) {
    <a mat-tab-link [routerLink]="tabItem.route" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{tabItem.label}}
    </a>
    }
</nav>
<br>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>
