<h1>Angular Workspace Monorepo Example</h1>
<h3>run app &amp; library</h3>
<ul>
<li><code>npm run build:lib</code></li>
<li><code>npm start</code></li>
</ul>
<h3>install lib in another app</h3>
<ul>
<li><code>npm i debugger-ng-ui-lib</code></li>
</ul>
<h2>Usage in your app</h2>
<h3>import</h3>
<p><code>import { DataGridModule, FormModule } from &#39;debugger-ng-ui-lib&#39;;</code>
then add this modules (or components) to imports section</p>
<h3>usage data-grid</h3>
<p><code>&lt;lib-data-grid [data]=&quot;{}[]&quot; [headers]=&quot;string[]&quot;&gt;     &lt;tr *passTemplate=&quot;let item; let nr=&#39;nr&#39;&quot;&gt;         &lt;td&gt;{{item.name}}&lt;/td&gt;         &lt;td&gt;{{item.phone}}&lt;/td&gt;     &lt;/tr&gt; &lt;/lib-data-grid&gt;</code></p>
<h3>usage form-generator</h3>
<p><code>&lt;lib-form-generator (action)=&quot;onSubmit($event)&quot; [formConfig]=&quot;FieldConfig[]&quot;&gt;&lt;/lib-form-generator&gt;</code></p>
