$bgColor: #F5F5F5;

::ng-deep .my-table {
  width: 100%;

  th {
    padding: 10px 15px;
    font-size: 0.8em;
    text-align: left;
    background-color: $bgColor;
    color: #757575;
    font-size: 85%;
  }

  td {
    padding: 10px 15px;
    border-top: 1px solid #777;
  }

}
