<form [ngStyle]="{background: bgColor}" class="box" [formGroup]="form" (submit)="onSubmit()">
  @if (!tpl) {
  <div>
    @for (config of formConfig(); track $index) {
    <ng-container [libFieldGenerator]="config"></ng-container>
    }
  </div>
  }
  @if (tpl) {
  <div>
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
  }
</form>
