<mat-form-field [formGroup]="form">
  <mat-label class="label">{{ config.label }}</mat-label>
  <input
    matInput
    class="{{ config.cssClass }}"
    [placeholder]="'' + config.placeholder"
    [formControlName]="config.name"
  />
  @if (form.get(config.name)?.errors; as errors) {
  <mat-error>
    <lib-errors [data]="{ errors: errors, validators: config.validators }"></lib-errors>
  </mat-error>
  }
</mat-form-field>
