<app-toolbar (darkChange)="theme.setTheme($event)" [dark]="theme.isDark()"></app-toolbar>

<div class="dark:bg-slate-600 h-full dark:text-white py-8">
    <div class="container m-auto space-y-8">
        <div>
            <lib-menu [menus]="menu"></lib-menu>
        </div>
        <mat-card>
            <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
            </mat-card>
    </div>
</div>
