<mat-form-field [formGroup]="form">
  <mat-label class="label">{{ config.label }}</mat-label>
  <mat-select class="{{ config.cssClass }}" [placeholder]="'' +config.placeholder" [formControlName]="config.name">
    @for (opt of config.options; track opt) {
    <mat-option [value]="opt">
      {{ opt }}
    </mat-option>
    }
  </mat-select>
  @if (form.get(config.name)?.errors; as errors) {
  <mat-error>
    <lib-errors [data]="{ errors: errors, validators: config.validators }"></lib-errors>
  </mat-error>
  }
</mat-form-field>
