@use '@angular/material' as mat;
@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$warn: mat.m2-define-palette(mat.$m2-blue-grey-palette);

$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  // typography: mat.define-typography-config(),
  // density: 0
));

@include mat.core-color($light-theme);
@include mat.button-color($light-theme);
//@include mat.all-component-themes($light-theme);

.darkMode {
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

