<mat-toolbar color="primary">
    <div class="container m-auto space-x-4">
        <span>Dark Mode</span>
        <mat-slide-toggle [formControl]="toggleDarkMode"></mat-slide-toggle>
    </div>
</mat-toolbar>
